<main>
  <div class="row text-center">
    <div class="col-md-2 col-sm-4 col-6">
      <img src="../../../assets/images/computer-on.png" alt="computer" />
      <label>Com 1</label>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <img src="../../../assets/images/computer-on.png" alt="computer" />
      <label>Com 2</label>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <img src="../../../assets/images/computer-on.png" alt="computer" />
      <label>Com 3</label>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <img src="../../../assets/images/computer-on.png" alt="computer" />
      <label>Com 4</label>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <img src="../../../assets/images/computer-on.png" alt="computer" />
      <label>Com 5</label>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <img src="../../../assets/images/computer-on.png" alt="computer" />
      <label>Com 6</label>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-2 col-sm-4 col-6">
      <img src="../../../assets/images/computer-off.png" alt="computer" />
      <label>Com 7</label>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <img src="../../../assets/images/computer-off.png" alt="computer" />
      <label>Com 8</label>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <img src="../../../assets/images/computer-off.png" alt="computer" />
      <label>Com 9</label>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <img src="../../../assets/images/computer-off.png" alt="computer" />
      <label>Com 10</label>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <img src="../../../assets/images/computer-off.png" alt="computer" />
      <label>Com 11</label>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <img src="../../../assets/images/computer-off.png" alt="computer" />
      <label>Com 12</label>
    </div>
  </div>
</main>
