<div class="container-fluid">
  <div class="row text-center">
    <div class="mr-15px col-md-2 col-sm-4 col-6">
      <img class="w100 border" src="../../../assets/images/computer-on.png" alt="computer" />
      <label class="centered bold-18px">Máy 1</label>
    </div>
    <div class="mr-15px col-md-2 col-sm-4 col-6">
      <img class="w100 border" src="../../../assets/images/computer-off.png" alt="computer" />
      <label class="centered bold-18px">Máy 2</label>
    </div>
    <div class="mr-15px col-md-2 col-sm-4 col-6">
      <img class="w100 border" src="../../../assets/images/computer-on.png" alt="computer" />
      <label class="centered bold-18px">Máy 3</label>
    </div>
    <div class="mr-15px col-md-2 col-sm-4 col-6">
      <img class="w100 border" src="../../../assets/images/computer-on.png" alt="computer" />
      <label class="centered bold-18px">Máy 4</label>
    </div>
    <div class="mr-15px col-md-2 col-sm-4 col-6">
      <img class="w100 border" src="../../../assets/images/computer-off.png" alt="computer" />
      <label class="centered bold-18px">Máy 5</label>
    </div>
    <div class="mr-15px col-md-2 col-sm-4 col-6">
      <img class="w100 border" src="../../../assets/images/computer-on.png" alt="computer" />
      <label class="centered bold-18px">Máy 6</label>
    </div>
    <div class="mr-15px col-md-2 col-sm-4 col-6">
      <img class="w100 border" src="../../../assets/images/computer-off.png" alt="computer" />
      <label class="centered bold-18px">Máy 7</label>
    </div>
    <div class="mr-15px col-md-2 col-sm-4 col-6">
      <img class="w100 border" src="../../../assets/images/computer-repair.png" alt="computer" />
      <label class="centered bold-18px">Máy 8</label>
    </div>
    <div class="mr-15px col-md-2 col-sm-4 col-6">
      <img class="w100 border" src="../../../assets/images/computer-repair.png" alt="computer" />
      <label class="centered bold-18px">Máy 9</label>
    </div>
    <div class="mr-15px col-md-2 col-sm-4 col-6">
      <img class="w100 border" src="../../../assets/images/computer-off.png" alt="computer" />
      <label class="centered bold-18px">Máy 10</label>
    </div>
    <div class="mr-15px col-md-2 col-sm-4 col-6">
      <img class="w100 border" src="../../../assets/images/computer-off.png" alt="computer" />
      <label class="centered bold-18px">Máy 11</label>
    </div>
    <div class="mr-15px col-md-2 col-sm-4 col-6">
      <img class="w100 border" src="../../../assets/images/computer-off.png" alt="computer" />
      <label class="centered bold-18px">Máy 12</label>
    </div>
  </div>
</div>
