<header id="header">
    Hệ thống quản lý cửa hàng cung cấp dịch vụ internet công cộng.
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">
        <img width="30" height="30" class="d-inline-block align-top" alt="angular-logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">TRANG CHỦ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownComputer" role="button" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
          MÁY TÍNH
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownComputer">
                    <a class="dropdown-item" routerLink="computer/list">Danh sách máy</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="computer/create" data-toggle="modal" data-target="#computerCreate">Tạo
            mới máy</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCustomer" role="button" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
          KHÁCH HÀNG
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownCustomer">
                    <a class="dropdown-item" routerLink="customer/list">Danh sách khách hàng</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="customer/create" data-toggle="modal" data-target="#customerCreate">Tạo
            mới khách hàng</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownService" role="button" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
          DỊCH VỤ
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownService">
                    <a class="dropdown-item" routerLink="service/list">Danh sách dịch vụ</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="service/create" data-toggle="modal" data-target="#serviceCreate">Tạo mới
            dịch vụ</a>
                </div>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0" id="search" action="#" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
        </form> -->
    </div>
</nav>