<app-use-detail></app-use-detail>

<div
  class="modal fade"
  id="computerCreate"
  tabindex="-1"
  role="dialog"
  aria-labelledby="computerCreateTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="computerCreateLongTitle">Tạo mới máy</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="formComputerCreate" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-group">
              <label for="computer_id" class="col-form-label">Mã máy: </label>
              <small id="error-computer_id" class="text-danger"></small>
              <input
                type="text"
                class="form-control"
                id="computer_id"
                formControlName="computerId"
              />
            </div>
            <div class="form-group">
              <label for="computer_location" class="col-form-label"
                >Vị trí:
              </label>
              <small id="error-computer_location" class="text-danger"></small>
              <input
                type="text"
                class="form-control"
                id="computer_location"
                formControlName="computerLocation"
              />
            </div>
            <div class="form-group">
              <label for="computer_status" class="col-form-label"
                >Trạng thái:
              </label>
              <small id="error-computer_status" class="text-danger"></small>
              <select class="form-control" id="computer_status">
                <option value="off" selected>Chưa sử dụng</option>
                <option value="on">Đang sử dụng</option>
                <option value="repair">Đang sửa chữa</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Đóng
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!formComputerCreate.valid"
          >
            Tạo mới
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
